.page {
  color: var(--color-text-primary);
  font: 400 1.35rem/1.5555555556 var(--font-open-sans);
}

@media (min-width: 241px) {
  .page {
    font: 400 1.5rem/1.8666666667 var(--font-open-sans);
  }
}

@media (min-width: 321px) {
  .page {
    font: 400 1.8rem/1.5555555556 var(--font-open-sans);
  }
}
